@import url('https://fonts.googleapis.com/css2?family=Khand:wght@600&family=Lato:wght@400;900&display=swap');

:root {
    --fonte-principal: "Lato", sans-serif;
    --fonte-secundario: "Khand", sans-serif;
    --cor-principal: #FFFFFF;
    --cor-secunario: #000000;
    --background-principal: #0B0B11;
    --background-secundario: linear-gradient(180deg, #025572 42.1%, #D6D9E3 87.1%);
    --botao-contato: #5FCAD2;
}

/* início do cabeçalho */

.navbar {
    background-color: var(--background-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: .8rem 0 .8rem 0;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.navbar div {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.navbar__lista {
    display: flex;
    gap: 36px;
    margin-left: 71px;
}

.navbar__lista__link {
    color: var(--cor-principal);
    font-family: var(--fonte-secundario);
    font-size: 24px;
    font-weight: 600;
}

.navbar__contato {
    padding: 1rem 1.8rem;
    border-radius: 5px;
    background: var(--botao-contato);
    color: var(--cor-principal);
    text-align: center;
    font-family: var(--fonte-secundario);
    font-size: 20px;
    font-weight: 600;
    margin-right: 2rem;
}

/* fim do cabeçalho */

/* inicio da seção principal */

.secao__principal {
    background-color: #000719;
    height: 820px;
    background-image: url(/imgs/backgroundPrincipal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.secao__principal__texto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10rem;
    padding-bottom: 5rem;
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
}

.secao__principal__titulo {
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    width: 224px;
    height: 76.134px;
}

.secao__principal__descricao {
    width: 225px;
    height: 62.791px;
    color: var(--cor-principal);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: var(--fonte-principal);
    font-weight: 500;
}

.secao__principal__divisao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.secao__principal__imagem {
    width: 50px;
    height: 50px;
}

.secao__principal__botao {
    color: var(--cor-principal);
    text-align: center;
    font-family: var(--fonte-secundario);
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--background-principal);
    padding: 1rem;
}

/* fim da seção principal */

/* inicio da seção explicação */

.secao__explicacao {
    background: var(--background-secundario);
    display: flex;
    justify-content: space-evenly;
    height: 2109px;
}

.secao__explicacao__descricao {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background: #D6D9E3;
    width: 280px;
    height: 362.746px;
    position:relative;
    z-index: 1;
    bottom: 6rem;
}

.secao__explicacao__imagem {
    width: 42px;
    height: 42px;
}

.secao__explicacao__titulo {
    color: var(--cor-secunario);
    text-align: center;
    font-family: var(--fonte-secundario);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.secao__explicacao__texto {
    color: var(--cor-secunario);
    font-family: var(--fonte-principal);
    font-weight: 500;
}